@model ContactViewModel

<section>
    <h1>Interface 3 Bruxelles</h1>
    <p><strong>Lenoir Nicole</strong></p>
    <address>@Model.Address.Street @Model.Address.Number,<br/>@Model.Address.ZipCode @Model.Address.City<br />@Model.Address.Country</address>
    <a href="tel:@Model.Phone">@Model.Phone.Number</a>
    <a href="mailto:info@interface3.be">info@interface3.be</a>
</section>
    
